/* mobile first */
.portfolio-container-all {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--secondFontColor);
  height: 970px;
  width: 100%;
}

.title-nav {
  margin-top: 0;
  padding-top: calc(var(--gap));
}

.portfolio-container, .portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolio-container {
  width: 100%;
  height: 500px;
  margin-top: calc(var(--gap));
}

.portfolio {
  position: relative;
  box-shadow: var(--boxShadow);
  width: 180px;
  padding: calc(var(--gap) /2);
  margin-bottom: calc(var(--gap));
}

.portfolio >h4 {
  text-align: center;
  margin-bottom: calc(var(--gap) /3);
  font-weight: var(--bold);
}

.portfolio-img {
  position: relative;
  width: 100%;
  height: 100px;
  cursor: pointer;
}

.img-button {
  position: absolute;
  bottom: 20px;
  right: 30%;
  border: none;
  border-radius: calc(var(--borderRadius) /2);
  padding: calc(var(--gap) /5);
  cursor: pointer;
  transition: all 0.5s;
  margin: 0;
  background-color: rgb(5, 102, 118, 0.8);
  color: var(--fontColor);
  transition: all 0.8s;
}

.img-button:hover {
  transform: scale(1.2);
}

.portfolio-modalInfo {
  color: var(--fontColor);
  position: absolute;
  left: -40px;
  top: 0;
  width:250px;
  height: 170px;
  background-color: var(--thirdColor);
  padding: calc(var(--gap ) /1.5);
}

.hide-modal {
  visibility: hidden;
  transform:scale(0);
  transition: all 0.2s 0.3s;
}

.show-modal {
visibility: visible;
transform:scale(1);
transition: all ease 2s;
}

.portfolio-modalInfo-container >ul {
  display: flex;
  justify-content: center;
  margin-top: calc(var(--gap) /2);
}

.portfolio-modalInfo-container >ul >li {
  margin-right: calc(var(--gap) /4);
  background-color: orange;
  padding: calc(var(--gap) /4);
  border-radius: var(--borderRadius);
}

.portfolio-modalInfo-container >ul >li:last-child {
  margin-right: 0;
}

.portfolio-button {
  border: none;
  margin-top: calc(var(--gap));
  padding: calc(var(--gap) /3);
  font-size: var(--fontSize);
  cursor: pointer;
  color: var(--secondFontColor);
  border-radius: var(--borderRadius);
}

.button-container {
  display: flex;
  justify-content: space-between;
}

.portfolio-xMark {
  position: absolute;
  top: 6px;
  right: 10px;
  cursor: pointer;
  transition: all 0.6s;
}

.portfolio-xMark:hover {
  transform: scale(1.2);
}

/* for tablet */
@media (min-width: 576px) {
  .portfolio-container-all {
    height: 800px;
  }

  .portfolio-container {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .portfolio {
    width: 200px;
  }

  .portfolio-img {
    height: 150px;
  }

  .portfolio:nth-child(odd) {
    margin-right: calc(var(--gap) *1.5);
  }

  .img-button {
    right: 30px;
    width: 100px;
  }

  .portfolio-modalInfo {
    left: -30px;
  }
}

/* for small screen */
@media (min-width: 768px) {

  .portfolio-container-all {
    height: 900px;
  }

  .portfolio-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80%;
    flex-wrap: wrap;
  }

  .portfolio {
    width: 250px;
  }

  .portfolio-img {
    height: 200px;
    filter: grayscale(100%);
    transition: 1.8s;
  }

  .portfolio-img:hover {
    filter: grayscale(0%);
    border-radius: var(--borderRadius);
  }

  .img-button {
    width: 150px;
    font-size: calc(var(--fontSize));
  }

  .portfolio-modalInfo {
    left: -34px;
    top: 0;
    width:310px;
    height: 217px;
  }

  .portfolio-button {
    transition: all 0.8s;
  }

  .portfolio-button:hover {
    transform: scale(1.2);
    background-color: rgba(28, 28, 28, 0.838);
    color: var(--fontColor);
  }
}


/* for screen */
@media (min-width: 1200px) {
  .portfolio {
    margin-right: calc(var(--gap) *1.5);
    width: 400px;
  }

  .portfolio-img {
    height: 300px;
  }

  .portfolio-modalInfo {
    left: -5px;
    top: 0;
    width:400px;
    height: 320px;
    font-size: calc(var(--fontSize) *1.5);
  }
  .portfolio-modalInfo-container >p {
    margin-top: calc(var(--gap)); 
  }
}