/* mobile first */
.skills-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--secondFontColor);
  background: rgb(5,102,118);
  background: linear-gradient(90deg, rgba(5,102,118,1) 0%, rgba(8,72,70,1) 30%, rgba(163,210,202,1) 59%);
}

.skills {
  margin-top: calc(var(--gap));
  width: 70%;
  padding: calc(var(--gap)/2);
  box-shadow: var(--boxShadow);
  background-color: white;
  margin-bottom: calc(var(--gap));
}

.skill {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.skill-category {
  display: flex;
  justify-content: center;
  width: 40%;
  margin: calc(var(--gap)/4);
}

.skill-category-title {
  flex: 1 100%;
  font-size: calc(var(--fontSize) *1.8);
  margin: calc(var(--gap) /2) 0 calc(var(--gap) /2) 0;
  font-weight: var(--bold);
}

.logo {
  width: 10%;
  flex:1 10%;
  margin-right: calc(var(--gap) /4);
}

.skill-name {
  flex: 2 20%;
  align-self: center;
  font-weight: var(--bold);
}

.other-skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.other-skills >li {
  padding: calc(var(--gap)/2);
  border-radius: var(--borderRadius);
  background-color: var(--primaryColor);
  margin: calc(var(--gap)/2);
  font-weight: var(--bold);
}

.other-skills >li:hover {
  filter: contrast(80%);
  cursor: default;
}


/* for tablet */
@media (min-width: 576px) {
  .skills {
    width: 80%;
  }

  .skill-category {
    width: 40%;
    margin: calc(var(--gap)/4);
  }
}

/* for small screen */
@media (min-width: 768px) {
}

/* for screen */
@media (min-width: 1200px) { 
  .other-skills {
    font-size: calc(var(--fontSize) *1.4);
  }
}