.footer {
  background-color: var(--secondaryColor);
  height: 50px;
  padding: calc(var(--gap));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


/* for tablet */
@media (min-width: 576px) {
}

/* for small screen */
@media (min-width: 768px) {

}


/* for screen */
@media (min-width: 1200px) {

}